.nav-menu{
    text-align: right;
  }

.nav-spacing {
    margin: 0 0 0 10px;
}

.nav-element{
    color: blue;
}

.page-title{
    text-align: center; 
    margin: 0 0 80px;
}

.whales-image{
    display: block;
    margin: 0 auto;
}